
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  font-family: 'Open Sans';
}


.product-slider {
	overflow: hidden;
}


.dp-slider__wrapper {
  padding: 10px 0;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;

  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  overflow: hidden;
}


.dp-slider__wrapper > *{
  float: left;
}

.dp-slider__prev,
.dp-slider__next {
  border: 1px solid;
  color: #414b52;
  background-color: transparent;
  padding: 10px 30px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  outline: none;
  margin: 0 5px;
  border-radius: 3px;
}

.dp-slider__prev:hover,
.dp-slider__next:hover {
  background-color: #414b52;
  color: #fff;
  cursor: pointer;
}


.dp-slider__nav,
.dp-slider__dots {
  text-align: center;
  margin-top: 30px;
}

.dp-slider__dots button {
  border: 1px solid;
  color: #414b52;
  background-color: transparent;
  margin: 02px;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.dp-slider__dots button:hover {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  background-color: #414b52;
  color: #fff;
  border-color: #414b52;
}





.product {
	float: left;
	text-align: center;
  position: relative;
  padding: 35px 30px;
  background-color: #f6f7fc;
  -webkit-box-shadow: 2px 3px 6px 1px rgba(41, 4, 19, 0.22);
  box-shadow: 2px 3px 6px 1px rgba(41, 4, 19, 0.22);
}

.test-slider {
  overflow: hidden;
}